{% extends 'website/base.html' %}
{% block content %}

<div class="text-center">
    <h1>Jonathan Kryzanski's Website</h1>
</div>

<div class="text-center">
    <h2>Welcome to my website, where I show off some of my web programming skills!</h2>
</div>

<div class="row text-center rounded">
    <div class="col-12 col-md-4">
        <div class="card shadow border-0">
            <div class="card-body">
              <h5 class="card-title">betbetbetbet</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card shadow border-0">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card shadow border-0">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>

{% endblock %}